/* ------------------------ Normalize style---------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-style: normal;
  font-family: "Poppins";
  font-size: 16px;
  color: #333;
}

body {
  background-color: #fff;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: bold;
}

ul {
  list-style: none;
}

img {
  flex-shrink: 0;
  max-width: 100%;
  height: auto;
}

button {
  background-color: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1500px;
  width: 100%;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 0;
}

.d-flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-sl {
  display: flex;
  justify-content: left;
  align-items: start;
}
.d-flex-l {
  display: flex;
  align-items: center;
  justify-content: left;
}

/* ------------------------ Normalize style---------------------------------- */

/* -------------------------------- html ----------------------------------- */

.wrapper{
  position: relative;
}

/* -------------------------------- head ----------------------------------- */

.header_wrap{
  width: 100%;
  margin-bottom: 330px;
}

.menu {
  column-gap: 700px;
  margin-top: 30px;
  margin-left: 103px;
}

.eng__usd {
  color: #262626;
  font-family: Proxima Nova;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin: 8px;
}

.menu__right {
  column-gap: 6px;
}

.items__info {
  color: #262626;
  font-family: Proxima Nova;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.items__info {
  color: #262626;
  font-family: Proxima Nova;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-right: 27px;
}

.menu__right__search {
  color: #262626;
  font-family: Proxima Nova;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

.header_center {
  display: flex;
  margin: 50px 50px 30px 120px;
  column-gap: 280px;
}

.header__left {
  display: flex;
}

.E_comm {
  color: #22262a;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  margin-top: 3px;
  margin-left: 5px;
  text-align: center;
}

.header__right {
  display: flex;
  column-gap: 70px;
}

.home {
  color: #109de4;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.bags {
  color: #262626;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.header__back {
  position: relative;
  margin-top: 40px;
  width: 100%;
  max-height: 600px;
}

.header__back--img{
  width: 100%;
}

.header__back_title {
  position: absolute;
  z-index: 1;
  top: 258px;
  left: 100px;
  right: 0;
  width: 573px;
  color: var(--background-white, #fff);
  font-size: 64px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
}
/* -------------------------------- /head ----------------------------------- */

/* ----------------------------- product_group ------------------------------ */
.product__group{
  position: absolute;
  z-index: 2;
  top: 750px;
  left: 0;
  right: 0;
  box-shadow: drop-shadow(0px 10px 25px rgba(102, 102, 102, 0.15));
}

.product__card {
  border-radius: 5px;
}

.product__card--1 {
  background-image: url("./assets/foto/best-seller1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 418px;
  height: 354px;
  padding: 30px 23px 30px 52px;
}

.product__card--2 {
  background-image: url("./assets/foto/best-seller2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 434px;
  height: 354px;
  padding: 30px 35px 30px 50px;
}

.product__card--3 {
  background-image: url("./assets/foto/best-seller3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 408px;
  height: 354px;
  padding: 30px 23px 30px 52px;
}

.product__caption{
  margin-bottom: 215px;
}

.product__text--1 {
  gap: 23px;
  width: 202px;
  margin-right: 23px;
  color: var(--neutral-dark, #223263);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.product__text {
  gap: 50px;
  width: 175px;
  margin-right: 45px;
  color: var(--neutral-dark, #223263);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.product__top__text{
  text-align: center;
}

.product__price {
  color: var(--primary-blue, #40bfff);
  font-family: Raleway;
  font-size: 30px;
  font-weight: 700;
  line-height: 180%; /* 54px */
  letter-spacing: 0.5px;
}

.product__oldprice {
  color: var(--neutral-grey, #9098b1);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: 0.5px;
  text-decoration: line-through;
  margin-right: 8px;
}

.product__discount {
  color: var(--primary-red, #fb7181);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.5px;
}

/* -------------------------------- main ----------------------------------- */

.main_wrap {
  width: 100%;
}

/* ----------------------------- best_sellers ----------------------------- */

.best_sellers {
  margin-bottom: 120px;
}

.sellers_title {
  color: #22262a;
  font-size: 35px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-bottom: 26px;
}

.sellers_list {
  column-gap: 70px;
  margin-bottom: 24px;
}

.sellers__list--Border {
  border-bottom: 2px solid #33a0ff;
}

.sellers__link {
  color: #262626;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  padding: 5px 0;
  transition: all 0.6s ease;
}

.sellers__link--Blue {
  color: #33a0ff;
}

.sellers__link:hover {
  color: #33a0ff;
}

.card_container {
  flex-wrap: wrap;
  gap: 35px;
  margin-right: 7px;
  margin-bottom: 30px;
}

.card {
  width: 300px;
  border: solid #f6f7f8 3px;
  border-radius: 5px;
  box-sizing: border-box;
}

.card__box {
  position: relative;
  max-width: 301px;
  max-height: 272px;
}

.card__image {
  width: 100%;
}

.click-checkbox {
  display: none;
}

.click {
  position: absolute;
  z-index: 2;
  width: 278px;
  height: 219px;
  flex-shrink: 0;
  padding: 84px 82px 84px 83px;
  background: #fff;
  opacity: 0;
  top: 24px;
  left: 8px;
}

.click-checkbox:checked + .click {
  opacity: 0.95;
}

.click__img {
  cursor: pointer;
}

.hot_img {
  top: 15px;
  left: 10px;
  position: absolute;
  background-color: #ff4858;
  padding: 6px 13px;
  border-radius: 2px;
  z-index: 1;
  cursor: pointer;
}

.card__group {
  flex-direction: column;
  padding: 10px 39px 17px 30px;
  row-gap: 6px;
}

.card__title {
  color: var(--neutral-dark, #223263);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}

.card__text {
  gap: 8px;
}

.card__blue__text {
  color: var(--primary-blue, #40bfff);
  font-size: 18px;
  font-weight: 700;
  line-height: 180%;
  letter-spacing: 0.5px;
  margin-right: 16px;
}

.card__grey__text {
  color: var(--neutral-grey, #9098b1);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-decoration-line: line-through;
}

.card__grey__text--opacity {
  opacity: 0;
}

.card__red__text {
  color: var(--primary-red, #fb7181);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.sellers__btm__undertitle {
  margin: auto;
  text-align: center;
  border-bottom: solid #33a0ff 3px;
  width: 115px;
  transition: all 1s ease;
}

.sellers__btm__undertitle:hover {
  text-align: center;
  width: 90%;
}

.sellers__btm__link {
  margin: auto;
  text-align: center;
  color: #33a0ff;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  padding: 3px 0;
  text-transform: uppercase;
}

/* -------------------------------- why_us ---------------------------------- */

.why_us {
  gap: 260px;
  margin-bottom: 140px;
}

.us_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 162px;
}

.us__image {
  margin-bottom: 40px;
  max-height: 88px;
}

.us__title {
  color: #22262a;
  font-size: 27px;
  font-weight: 500;
  line-height: normal;
  width: 190px;
}

/* -------------------------------- search ---------------------------------- */

.search {
  max-width: 633px;
  margin: auto;
  margin-bottom: 107px;
}

.search__content {
  border: solid #bcddfe 2px;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

.search__input {
  border: none;
  padding: 16px 20px;
  color: #262626;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  flex-grow: 1;
}

.search__input:focus {
  outline: none;
}

.search__btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  padding: 16px 27.5px;
  background: #40bfff;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* -------------------------------- /main ----------------------------------- */

/* -------------------------------- /html ---------------------------------- */

/* ---------------------------------- footer ----------------------------------- */

.footer_wrap {
  background: #bcddfe;
  width: 100%;
}

.footer_container {
  padding-bottom: 54px;
  padding-top: 150px;
}
.footer_content {
  margin-bottom: 280px;
  margin-left: 134px;
}

.footer_left {
  margin-right: 308px;
}

.footer_left__logo {
  gap: 7px;
  margin-bottom: 16px;
}

.footer_left__img {
  width: 39px;
  height: 39px;
}

.footer_left__logoname {
  color: #22262a;
  font-size: 18px;
  font-weight: 700;
}

.footer_left__subtitle {
  width: 221px;
  color: #22262a;
  font-size: 12px;
  font-family: Proxima Nova;
  font-weight: 400;
}

.footer__title {
  margin-bottom: 19px;
  color: #22262a;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
}

.footer_center__subtitle {
  margin-bottom: 23px;
  width: 198px;
  color: #22262a;
  font-size: 12px;
  font-family: Proxima Nova;
  font-weight: 400;
}

.footer__facebook {
  margin-right: 39px;
}

.footer_right {
  margin-left: 189px;
}

.footer_right__subtitle {
  width: 148px;
  color: #22262a;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 400;
}

.footer_right__item {
  color: #22262a;
  font-size: 14px;
  font-family: Poppins;
}
.footer_line {
  margin-bottom: 30px;
  max-width: 1180px;
  height: 2px;
  border-color: #f6f7f8;
  margin-left: 165px;
}

.footer_bottom {
  gap: 647px;
  margin-left: 149px;
}

.footer_bottom__text {
  color: #c1c8ce;
  font-size: 14px;
  font-family: Proxima Nova;
  font-weight: 400;
}

.footer_bottom__img {
  cursor: pointer;
}

/* ---------------------------------- /footer ----------------------------------- */
/* ---------------------------------- /html ----------------------------------- */
